.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header{
  width: 100%;
  background-color: grey;
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
  height:80px;
  align-items: center;
}

.nav_link{
  text-decoration: none;
  width:100px;
  padding:5px 5px;
  border-radius: 5px;
  text-align: center;
 
  background-color: aqua;
}

.nav_link:hover{
  border: 1px solid blue;
}

#products{
  padding:30px 40px;
}

.single_card{
  padding:20px 10px;
}

#login_btn{
  border: none;
  width:100px;
  padding:5px 5px;
  border-radius: 5px;
  text-align: center;
  background-color: aqua;
  color:blue;
}

#login_btn:hover{
  border: 1px solid blue;
}